/* *Colores */
:root{
  --celeste: #1CACE5;
  --celeste-claro: #7FDBff; 
  --verde: #2ECC40;
  --verde-claro: #5fff71;
  --violeta: #B10DC9;
  --violeta-claro: #E532FF;
  --naranja: #FF851B;
  --naranja-claro: #FFA150;
  --negro: #111111;
  --blanco: #ffffff;
  --negro-claro: #1C2833;
  --gris: #666666;
  --gris-claro: #999999;
}

/* *Estilos */
body {
  margin: 0;
  background: var(--negro);
  display: flex;
  align-items: center;
  height: 100vh;
}

.gameboard {
  height: 100vh;
  width: 100vh;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  max-height: 60vh;
  max-width: 60vh;
}

.color {
  width: 50%;
  height: 50%;
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: left;
}

.celeste {
  background: var(--celeste);
}

.celeste.light {
  background: var(--celeste-claro);
}

.violeta {
  background: var(--violeta);
}

.violeta.light {
  background: var(--violeta-claro);
}

.naranja {
  background: var(--naranja);
}

.naranja.light {
  background: var(--naranja-claro);
}

.verde {
  background: var(--verde);
}

.verde.light {
  background: var(--verde-claro);
}

.btn-start {
  width: 200px;
  height: 80px;
  background: var(--blanco);
  color: var(--negro-claro);
  font-size: 2rem;
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 100px);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px var(--gris-claro);
}

.btn-start:active {
  box-shadow: 0 5px var(--gris);
  transform: translateY(4px);
}

.hide {
  display: none;
}