/* *Colores */
:root{
  --celeste: #1CACE5;
  --celeste-claro: #7FDBff; 
  --verde: #2ECC40;
  --verde-claro: #5fff71;
  --violeta: #B10DC9;
  --violeta-claro: #E532FF;
  --naranja: #FF851B;
  --naranja-claro: #FFA150;
  --negro: #111111;
  --blanco: #ffffff;
  --negro-claro: #1C2833;
  --gris: #666666;
  --gris-claro: #999999;
}

/* *Estilos */
body {
  margin: 0;
  background: var(--negro);
  height: 100vh;
  font-family: 'Londrina Solid', cursive;
  font-size: 16px;
  color: var(--blanco);
}

.cabecera .titulo{
  display: flex;
  justify-content: center;
}

.cabecera .titulo h1{
  margin: 15px 0 5px 0;
  font-size: 3em;
  font-weight: 900;
}

.cabecera .turnos{
  display: flex;
  justify-content: center;
}

.cabecera .turnos p{
  margin: 10px 10px 30px 0;
  font-size: 1.6em;
  font-weight: 400;
}

.main{
  display: flex;
  justify-content: center;
  align-content: center;
}
.gameboard {
  height: 100vh;
  width: 100vh;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  max-height: 60vh;
  max-width: 60vh;
  position: relative;
}

.color {
  width: 50%;
  height: 50%;
  display: block;
}

.left {
  float: left;
}

.right {
  float: left;
}

.celeste {
  background: var(--celeste);
}

.celeste.light {
  background: var(--celeste-claro);
}

.violeta {
  background: var(--violeta);
}

.violeta.light {
  background: var(--violeta-claro);
}

.naranja {
  background: var(--naranja);
}

.naranja.light {
  background: var(--naranja-claro);
}

.verde {
  background: var(--verde);
}

.verde.light {
  background: var(--verde-claro);
}

.btn-start {
  width: 200px;
  height: 80px;
  background: var(--blanco);
  color: var(--negro-claro);
  font-size: 2.5em;
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 100px);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px var(--gris-claro);
  font-family: 'Londrina Solid', cursive;
  font-weight: 400;
}

.btn-start:active {
  box-shadow: 0 5px var(--gris);
  transform: translateY(4px);
}

.hide {
  display: none;
}

.footer{
  display: flex;
  justify-content: center;
}

.footer p{
  font-size: 1.4em;
  font-weight: 300;
  margin-right: 10px;
}

/* *Estilos sweet alert */

/* *Overlay determina el color de fondo fuera de el alert */
.swal-overlay{
  background: rgba(17,17,17,.8);
}

/* *Modal determina el cuerpo del alert */
.swal-modal{
  background: var(--blanco);
  border: none;
  width: 300px;
}

/* *Determina el titulo del alert */
.swal-title{
  margin: 0px;
  font-size: 30px;
}

/* *Determina el texto del alert */
.swal-text{
  font-size: 18px;
}

/* *Determina el boton del alert */
.swal-button{
  background: var(--celeste);
  border-radius: 5px;
  font-size: 16px;
  border: none;
}

/* *Media queries responsive */

@media screen and (max-width: 479px){
  .btn-start {
    width: 150px;
    height: 60px;
    top: calc(50% - 32px);
    left: calc(50% - 79px);
    font-size: 2em;
  }

  .gameboard{
    height: 300px;
    width: 300px;
  }
}